
  .feynman__link {
    position: absolute;
    color: var(--clr-links-forms);
    text-decoration: none;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    top: 50%;
    right: 0;
    margin-right: auto;
  }