

/*-------------HEADER---------------*/


  .header {
    position: relative;
    height: 100vh;
    background-color: var(--clr-background);
    min-height: 600px;
    max-height: 756px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    z-index: 0;
  
 
  }
    /* parameters for the header section */ 

  
  
  
 
  
  
  
  
  

  
