

/*-------------KAUFMAN---------------*/


.kaufman {
  background-color: var(--clr-graybg);
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  
}


